.movieDetails{
  margin-top: 48px;
  margin-left: 80px;
  .moviesHeading{
    font-size: 40px;
    line-height: 45px;  
    padding: 24px 0;
    margin: 0;
    font-weight: 700;
    letter-spacing: .02em;
  }
}